frontend http
    bind *:3000
    mode http
    timeout client 10s
    use_backend all
backend all
    mode http
    server s1 nodeapp1:3001
    server s2 nodeapp2:3002
    server s3 nodeapp3:3003
    server s4 nodeapp4:3004
    server s5 nodeapp4:3005
    server s6 nodeapp4:3006
    server s7 nodeapp4:3007
    server s8 nodeapp4:3008